.child{
    border-left: 1px solid #8D99A5;
    padding-left: 10px;
}

.verticalChild{
    padding-left: 10px;
    display: flex;
}

.threadCorner{
    float: left;
    position: absolute;
    margin-top: -1px;  /* so border lines merge in correctly */
}

.threadFork{
    float: left;
    position: absolute;
    margin-top: 20px;  /* so border lines merge in correctly */
}

.threadLine{
    border-left: 1px solid #8D99A5;
    margin-left: 20px;
}

.threadLineHolder{
    display: flex;
}

.messageHolder{
    flex-grow: 2;
}

.blankThreadLine{
    margin-left: 20px;
}

.StatusPage{
    background: #F7F7F7;
    border-radius: 12px 12px 0px 0px;
    padding: 20px;
}

.StatusMessage {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.BackButton{
    /* Light / Element */
    background: rgba(141, 151, 165, 0.2);
    border-radius: 200px;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 5px 9px 5px 9px;
    cursor: pointer;
}